body {
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    background-color: #dfb8b8;
}

a {
    text-decoration: none;
}

*[role=button] {
    cursor: pointer;
    outline: none;
}


/*
 * Header
 */

.header .md-toolbar-tools {
    background-color: #5a4439;
}

.header img.logo {
    margin-top: 42px;
    display: block;
    height: 100px;
    width: auto;
}

.header .search {
    width: 35%;
    background-color: #7b655a;
}

.header .search input {
    color: #ded1c1;
}

.header .user {
    background-color: #ffffff;
}

.header .user img {
    width: 40px;
    height: 40px;
    margin-left: -6px;
}


/*
 * Main page
 */

.main {
    display: flex;
    flex-direction: column;
    height: 75vh;
    min-height: 400px;
    align-items: center;
    justify-content: center;
}

.main .logo img {
    width: 235px;
    height: 207px;
}

.main span.title {
    margin: 20px;
    color: white;
    font-size: 60px;
    text-shadow: rgb(46, 46, 46) 0 4px 5px;
}

.main button svg {
    fill: black;
}

/*
 * Dashboard page
 */

.dashboard .summary {
    background-color: #ded1c1;
    height: 215px;
    /*border-bottom: solid 6px #7b655a;*/
}

.dashboard .summary div {
    width: 50%;
}

.dashboard .summary .metric {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.dashboard .summary .metric span:first-child {
    background-color: #907f75;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 50px;
}

.dashboard .summary .metric span:last-child {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    color: #907f75;
    font-size: 20px;
}

.dashboard .loading .md-container,
.dashboard .loading .md-dashed,
.dashboard .loading .md-bar {
    height: 6px;
    background-color: #907f75;
}

.dashboard .loading .md-bar {
    background-color: #5a4439;
}

.dashboard .not-loading {
    margin: 0;
    padding: 0;
    border-bottom: solid 6px #7b655a;
}