body {
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    background-color: #dfb8b8;
}

a {
    text-decoration: none;
}

*[role=button] {
    cursor: pointer;
    outline: none;
}


/*
 * Scrollbar
 */

::-webkit-scrollbar,
::-webkit-scrollbar-button {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #7b655a;
  border: 0 none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background: #7b655a;
}

::-webkit-scrollbar-track {
  background: #dfb8b8;
  border: 0 none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background: #dfb8b8;
}

::-webkit-scrollbar-corner {
  background: transparent;
}


/*
 * Header
 */

.header .md-toolbar-tools {
    background-color: #5a4439;
}

.header img.logo {
    margin-top: 42px;
    display: block;
    height: 100px;
    width: auto;
}

.header .search {
    width: 35%;
    background-color: #7b655a;
}

.header .search input {
    color: #ded1c1;
}

.header .user {
    background-color: #ffffff;
}

.header .user img {
    width: 40px;
    height: 40px;
    margin-left: -6px;
}


/*
 * Main page
 */

.main {
    display: flex;
    flex-direction: column;
    height: 75vh;
    min-height: 400px;
    align-items: center;
    justify-content: center;
}

.main .logo img {
    width: 235px;
    height: 207px;
}

.main span.title {
    margin: 20px;
    color: white;
    font-size: 60px;
    text-shadow: rgb(46, 46, 46) 0 4px 5px;
}

.main button svg {
    fill: black;
}

/*
 * Dashboard page
 */

.dashboard .summary {
    background-color: #ded1c1;
    height: 175px;
    /*border-bottom: solid 6px #7b655a;*/
}

.dashboard .summary div {
    width: 50%;
}

.dashboard .summary .metric {
    margin-top: 5px;
}

.dashboard .summary .metric span:first-child {
    background-color: #907f75;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 38px;
}

.dashboard .summary .metric span:first-child:hover,
.dashboard .summary .metric span:first-child.filter {
    background-color: #7b655a;
}

.dashboard .summary .metric span:last-child {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    color: #907f75;
    font-size: 18px;
}

.dashboard .loading .md-container,
.dashboard .loading .md-dashed,
.dashboard .loading .md-bar {
    height: 6px;
    background-color: #907f75;
}

.dashboard .loading .md-bar {
    background-color: #5a4439;
}

.dashboard .not-loading {
    margin: 0;
    padding: 0;
    border-bottom: solid 6px #7b655a;
}

.dashboard .repos {
    margin: auto;
    height: calc(100vh - 246px);
    width: 100%;
}

.dashboard .repo {
    padding: 10px 20px;
    margin: 3px auto;
    background-color: #907f75;
    width: 50%;
    min-width: 460px;
}

.dashboard .repo:hover,
.dashboard .repo.index {
    background-color: #7b655a;
    cursor: pointer;
}

.dashboard .repo.index {
    width: 52%;
    min-width: 480px;
}

.dashboard .repo .name md-icon,
.dashboard .repo .info md-icon {
    fill: #ded1c1;
    height: 16px;
    width: 16px;
}

.dashboard .repo .name,
.dashboard .repo .name md-icon,
.dashboard .repo .info .version,
.dashboard .repo .info .version md-icon {
    fill: #ffffff;
    color: #ffffff;
    font-size: 18px;
}

.dashboard .repo .info .since {
    color: #ded1c1;
    font-size: 15px;
    margin-right: 5px;
}
