<md-toolbar class="header md-whiteframe-6dp">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <img class="logo" src="../images/gitcat.png"/>
        <md-autocomplete class="search"
            md-selected-item="self.selected"
            md-search-text="self.search"
            md-items="repo in self.query(self.search)"
            md-item-text="repo"
            placeholder="Filter by repository">
            <md-item-template>
                <span md-highlight-text="self.search" md-highlight-flags="^i">{{repo}}</span>
            </md-item-template>
            <md-not-found>
                No repository matching "{{self.search}}" were found.
            </md-not-found>
        </md-autocomplete>
        <md-button class="user md-fab md-mini" ng-click="self.href(self.user.html_url)">
            <md-tooltip md-direction="left">{{self.user.login}}</md-tooltip>
            <img src="{{self.user.avatar_url}}"/>
        </md-button>
    </div>
</md-toolbar>

<div class="dashboard">
    <div class="summary" layout="row" layout-align="center center">
        <div layout="row" layout-align="space-around center">
            <div class="metric">
                <span class="md-whiteframe-1dp">{{self.repos.length}}</span>
                <span>Repositories</span>
            </div>
            <div class="metric">
                <span class="md-whiteframe-1dp">{{self.outdated.length}}</span>
                <span>Outdated</span>
            </div>
            <div class="metric">
                <span class="md-whiteframe-1dp">{{self.notVersioned.length}}</span>
                <span>Not versioned</span>
            </div>
        </div>
    </div>
    <md-progress-linear class="loading" md-mode="query" ng-show="self.loading"></md-progress-linear>
    <hr ng-hide="self.loading" class="not-loading"/>
    <div class="list">

    </div>
</div>