<md-toolbar class="header md-whiteframe-6dp">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <img class="logo" src="../images/gitcat.png" ng-click="self.href('/#/dashboard')"/>
        <md-autocomplete class="search"
            md-search-text="self.search"
            md-items="repo in self.query(self.search)"
            md-item-text="repo"
            placeholder="Filter by repository">
            <md-item-template>
                <span md-highlight-text="self.search" md-highlight-flags="^i">{{repo}}</span>
            </md-item-template>
            <md-not-found>
                No repository matching "{{self.search}}" were found.
            </md-not-found>
        </md-autocomplete>
        <div class="user-action">
            <md-button class="user md-fab md-mini" ng-click="self.href(self.user.html_url)">
                <md-tooltip md-direction="left">{{self.user.login}}</md-tooltip>
                <img ng-src="{{self.user.avatar_url}}"/>
            </md-button>
            <md-button class="md-icon-button" ng-click="self.href('/#/settings')">
                <md-icon md-svg-icon="../images/git-tools.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="self.signout()">
                <md-icon md-svg-icon="../images/git-signout.svg"></md-icon>
            </md-button>
        </div>
    </div>
</md-toolbar>

<div class="dashboard" flex layout="column" layout-align="start stretch">
    <!-- Metrics -->
    <div class="summary" layout="row" layout-align="center center">
        <div layout="row" layout-align="space-around center">
            <div class="metric">
                <span class="md-whiteframe-1dp"
                      ng-click="self.filter = null">
                    {{self.repos.length}}
                </span>
                <span>Repositories</span>
            </div>
            <div class="metric">
                <span class="md-whiteframe-1dp"
                      ng-click="self.filter = 'outdated'"
                      ng-class="{'filter': self.filter == 'outdated'}">
                    {{self.outdated.length}}
                </span>
                <span>Outdated</span>
            </div>
            <div class="metric">
                <span class="md-whiteframe-1dp"
                      ng-click="self.filter = 'notVersioned'"
                      ng-class="{'filter': self.filter == 'notVersioned'}">
                    {{self.notVersioned.length}}
                </span>
                <span>Not versioned</span>
            </div>
        </div>
    </div>

    <!-- Load separator -->
    <md-progress-linear class="loading" md-mode="query" ng-show="self.loading"></md-progress-linear>
    <hr ng-hide="self.loading" class="not-loading"/>

    <!-- Repo list -->
    <div class="repos">
        <div class="repo" ng-repeat="repo in filteredRepos = (self.repos | filter: self.filterRepos | orderBy)"
             ng-click="self.details = self.details == repo ? null : repo"
             ng-class="{'selected': self.details == repo}">
            <div class="simple" layout="row" layout-align="space-between center">
                <span class="name" ng-click="$event.stopPropagation(); self.hrefRepo(repo);">
                    <md-icon md-svg-src="../images/git-repo.svg"></md-icon>
                    {{repo}}
                    <md-icon md-svg-src="../images/git-link.svg"></md-icon>
                </span>
                <div class="info">
                    <span class="since" ng-if="self.diff[repo] && self.diff[repo].ahead_by">
                        <md-icon md-svg-src="../images/git-commit.svg"></md-icon>
                        {{ self.diff[repo].ahead_by }}
                        commit{{ self.diff[repo].ahead_by > 1 ? 's' : ''}}
                        since
                    </span>
                    <span class="version" ng-if="self.diff[repo]">
                        <md-icon md-svg-src="../images/git-tag.svg"></md-icon>
                        {{ self.diff[repo].last_tag }}
                    </span>
                </div>
            </div>
            <div class="details" ng-show="self.details == repo && self.diff[repo] && self.diff[repo].ahead_by">
                <div ng-repeat="commit in self.diff[repo].commits" class="commit"
                     layout="row" layout-align="space-between center"
                     ng-click="$event.stopPropagation(); self.href(commit.html_url, true);">
                    <div class="author">
                        <md-tooltip md-direction="left">{{commit.author.login}}</md-tooltip>
                        <img ng-src="{{commit.author.avatar_url}}"/>
                    </div>
                    <div class="message" flex>
                        {{commit.commit.message}}
                    </div>
                    <div class="sha">
                        <md-icon md-svg-src="../images/git-link.svg"></md-icon>
                        {{commit.sha.substring(0, 7)}}
                    </div>
                </div>

                <div class="semver" ng-if="self.diff[repo].semver" ng-click="$event.stopPropagation()">
                    <md-button class="md-raised" ng-click="self.tag(repo, self.diff[repo].semver.nextPatch())"
                               ng-mouseenter="self.message = 'Targeted version is ' + self.diff[repo].semver.nextPatch()">
                        <md-icon md-svg-src="../images/git-bug.svg"></md-icon>
                        <span>Patch</span>
                    </md-button>
                    <md-button class="md-raised" ng-click="self.tag(repo, self.diff[repo].semver.nextMinor())"
                               ng-mouseenter="self.message = 'Targeted version is ' + self.diff[repo].semver.nextMinor()">
                        <md-icon md-svg-src="../images/git-pin.svg"></md-icon>
                        <span>Minor</span>
                    </md-button>
                     <md-button class="md-raised" ng-click="self.tag(repo, self.diff[repo].semver.nextMajor())"
                                ng-mouseenter="self.message = 'Targeted version is ' + self.diff[repo].semver.nextMajor()">
                        <md-icon md-svg-src="../images/git-flame.svg"></md-icon>
                        <span>Major</span>
                    </md-button>
                    <div class="message" flex>
                        {{self.message}}
                    </div>
                </div>
            </div>
        </div>

        <!-- List is empty -->
        <div class="empty" ng-if="!self.vanilla && !self.loading && filteredRepos.length < 1"
             layout="column" layout-align="center center">
            <div class="alert" layout="column">
                <md-icon md-svg-src="../images/git-search.svg"></md-icon>
                No repository found
            </div>
        </div>

        <div class="vanilla" ng-if="!self.loading && self.vanilla"
             layout="column" layout-align="center center">
            <div class="alert" layout="column">
                <md-icon md-svg-src="../images/git-octoface.svg"></md-icon>
                <span>
                    Welcome to Gitcat, {{self.user.login}}.<br/>
                    Add watched repositories in the settings
                    <md-icon class="inline" md-svg-icon="../images/git-tools.svg"
                             ng-click="self.href('/#/settings')">
                    </md-icon>
                </span>
            </div>
        </div>
    </div>
</div>