<div class="ribbon">
    <a href="https://github.com/optiflows/gitcat">
        <img src="../images/ribbon.png"/>
    </a>
</div>
<div class="main">
    <div class="logo">
        <img src="../images/gitcat.png"/>
    </div>
    <span class="title">Gitcat</span>

    <md-button ng-click="self.signin()" ng-disabled="self.requesting">
        <md-icon md-svg-src="../images/github.svg"></md-icon>
        <span ng-if="!self.requesting">
            Signin with Github
        </span>
        <span ng-if="self.requesting">
            Signing in...
        </span>
    </md-button>
</div>