<md-toolbar class="header md-whiteframe-6dp">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <img class="logo" src="../images/gitcat.png" ng-click="self.href('/#/dashboard')"/>
        <md-autocomplete class="search"
            md-search-text="self.search"
            md-items="repo in self.query(self.search)"
            md-item-text="repo.name"
            md-selected-item-change="repo && (self.filter = repo.owner.login)"
            placeholder="Filter by repository">
            <md-item-template>
                <span md-highlight-text="self.search" md-highlight-flags="^i">{{repo.full_name}}</span>
            </md-item-template>
            <md-not-found>
                No repository matching "{{self.search}}" were found.
            </md-not-found>
        </md-autocomplete>
        <div class="user-action">
            <md-button class="user md-fab md-mini" ng-click="self.href(self.user.html_url)">
                <md-tooltip md-direction="left">{{self.user.login}}</md-tooltip>
                <img ng-src="{{self.user.avatar_url}}"/>
            </md-button>
            <md-button class="md-icon-button" ng-click="self.href('/#/settings')">
                <md-icon md-svg-icon="../images/git-tools.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="self.signout()">
                <md-icon md-svg-icon="../images/git-signout.svg"></md-icon>
            </md-button>
        </div>
    </div>
</md-toolbar>

<div class="settings" flex layout="column" layout-align="start stretch">
    <!-- Organizations -->
    <div class="summary" layout="row" layout-align="center center">
        <div layout="row" layout-align="space-around center">
            <!-- User's -->
            <div class="org avatared">
                <span class="md-whiteframe-1dp"
                      ng-click="self.filter = self.user.login"
                      ng-class="{'filter': self.filter == self.user.login}">
                    <img ng-src="{{self.user.avatar_url}}"/>
                </span>
                <span>{{self.user.login}}</span>
            </div>
            <!-- Orgs -->
            <div class="org avatared" ng-repeat="org in self.orgs">
                <span class="md-whiteframe-1dp"
                      ng-click="self.filter = org.login"
                      ng-class="{'filter': self.filter == org.login}">
                    <img ng-src="{{org.avatar_url}}"/>
                </span>
                <span>{{org.login}}</span>
            </div>
        </div>
    </div>

    <!-- Load separator -->
    <md-progress-linear class="loading" md-mode="query" ng-show="self.loading"></md-progress-linear>
    <hr ng-hide="self.loading" class="not-loading"/>

    <!-- Repo list -->
    <div class="repos" ng-mouseleave="self.save()">
        <div class="repo" ng-click="self.toggle(repo)"
             ng-repeat="repo in filteredRepos = (self.repos | filter: self.filterRepos | orderBy:'name')"
             ng-class="{'selected': self.config.whitelist.indexOf(repo.full_name) >= 0}">
            <div class="simple" layout="row" layout-align="space-between center">
                <span class="name" ng-click="$event.stopPropagation(); self.hrefRepo(repo);">
                    <md-icon md-svg-src="../images/git-repo.svg"></md-icon>
                    {{repo.name}}
                    <md-icon md-svg-src="../images/git-link.svg"></md-icon>
                </span>
                <div class="info">
                    <md-icon md-svg-src="../images/git-check.svg"></md-icon>
                </div>
            </div>
        </div>

        <!-- List is empty -->
        <div class="empty" ng-if="!self.loading && filteredRepos.length < 1"
             layout="column" layout-align="center center">
            <div class="alert" layout="column">
                <md-icon md-svg-src="../images/git-search.svg"></md-icon>
                No repository found
            </div>
        </div>
    </div>
</div>